<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" shutdownHook="disable">
    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-20d %-5p [%t] %-15c - %-10M - %m%n" />
        </Console>

        <RollingFile name="DEVELOP" fileName="logs/reexon.lib-develop.log"
            filePattern="logs/reexon.lib-develop-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%-20d %-5p [%t] %-15c - %-10M - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="HIBERNATE" fileName="logs/reexon.lib-hibernate.log"
            filePattern="logs/reexon.lib-hibernate-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%-20d %-5p [%t] %-15c - %-10M - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="HIBERNATE" />
        </Logger>

        <Logger name="org.apache" level="error" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="DEVELOP" />
        </Logger>

        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="DEVELOP" />
        </Logger>


        <Logger name="it.reexon.lib" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="DEVELOP" />
        </Logger>

    </Loggers>

</Configuration>
